<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upgrade Page</title>
</head>
<body>
<h1>This is Upgrade Page</h1>
<form action="/postStorageValue" method="post" enctype="multipart/form-data">
    <label for="storageValue">Storage Value</label>
    <input type="text" id="storageValue" name="storageValue" value="666">
    <input type="submit"  name="Submit button" value="Push it">
</form>
<br>
<a href="welcome"><b>Welcome Page</b></a>
<br>
<a href="getUpgradePage"><b>Get Upgrade Page</b></a>
<br>
<a href="getResult"><b>Get Result Page</b></a>
</body>
</html>